@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


*,
*::before,
*::after {
          padding: 0;
          margin: 0;
          box-sizing: border-box;
}

:root {
          --bright-orange: hsl(31, 77%, 52%);
          --dark-cyan: hsl(184, 100%, 22%);
          --darker-cyan: hsl(179, 100%, 13%);

          --light-grey: hsl(0, 0%, 95%);
          --transparent-white: hsla(0, 0%, 100%, 0.75);
}

body {
          background: var(--light-grey) ;
}

.container {
          overflow: hidden;
}


.link {
          text-align: center;
}

.link a {
          text-decoration: none;
}

.inner-wrapper {
          width: 100%;
          max-width: 1440px;
}

.grid-wrapper {
          width: 80%;
          margin: 20px auto; 
}

.grid {
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          color: var(--transparent-white);
          font-family: Lexend Deca;

          padding: 20px;
}

.grid.one {
          border-radius: 5px 5px 0 0;
          background: var(--bright-orange);
}


.grid.two {
          background: var(--dark-cyan);
}


.grid.three {
          background: var(--darker-cyan);

          border-radius: 0 0 5px 5px;
}

img {
          width: 50px;
          margin-bottom: 25px;
}

h2 {
          font-family: big shoulders display;
          color: var(--light-grey);

          margin-bottom: 15px;
}

.content {
          font-size: 12px;
          line-height: 1.4;

          margin-bottom: 50px;
}

.btn {
          background: var(--light-grey);
          padding: 8px 10px;
          border-radius: 15px;
          width: 100px;
          display: flex;
          text-align: center;
          justify-content: center;
          cursor: pointer;
}

button {
          border: none;
          font-family: lexend deca;
          cursor: pointer;
}

button.one {
          color: var(--bright-orange);
}

button.two {
          color: var(--dark-cyan);
}

button.three {
          color: var(--darker-cyan);
} 


@media (min-width: 750px) { 
          .container {
                    height: 100vh;
                    width: 100vw;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
          }
          
          .inner-wrapper {
                    width: 100%;
          }
          
          .grid-wrapper {
                    display: grid;
                    grid-template-columns: repeat(3, 30%);
                    grid-template-rows: repeat(1, 400px);

                    justify-content: center;
          }

          .grid.one {
                    border-radius: 5px 0 0 5px;
          }
          
          .grid.three {          
                    border-radius: 0 5px 5px 0;
          }
}


@media (min-width: 850px) { 
          .inner-content {
                    padding: 30px;
          }
          
          .content {
                    max-width: 200px;
          }
}